[submodule "etc/skel"]
	path = etc/skel
	url = https://github.com/Prototype-Linux/skel.git
[submodule "etc/calamares"]
	path = etc/calamares
	url = https://github.com/Prototype-Linux/calamares
[submodule "usr/share/backgrounds"]
	path = usr/share/backgrounds
	url = https://github.com/Prototype-Linux/backgrounds
[submodule "usr/share/plymouth"]
	path = usr/share/plymouth
	url = https://github.com/Prototype-Linux/plymouth
